.Competences {
    h2 {
        @include centerFlex;
    }
    &__container {
        margin: auto;
        max-width: 1300px;
        padding: 5px;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        border-left: 2px solid $primaryColor;
        margin-bottom: 25px;
        &--text {
            flex-direction: column;
            padding-left: 5px;
            h3 {
                margin: 0;
            }
        }
        img {
            padding-right: 5px;
            margin: auto;
            width: 300px;
            height: 200px;
            object-fit: cover;
            transform: scale(1);
            transition: 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}