nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.6);
    opacity: 0;
    animation: apparition 0.6s 3s ease-out forwards;
    @media screen and(min-width: 768px) {
        height: 100px;
    }
}