.Accueil {
    height: 100vh;
    background-image: url('../images/photosChantiers/+-6139.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.slogan {
    @include fontFamily(3rem);
    position: absolute;
    right: 5%;
    bottom: 3%;
    opacity: 0;
    animation: apparition 0.6s 1.7s ease-out forwards;
}