.h1 {
    @include fontFamily(5rem);
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    p {
        margin: 0;
        background-color: rgba($color: #eee, $alpha: 0.6);
        padding-left: 15px;
        height: 105px;
        &:nth-of-type(1) {
            @include animH1(87.6%, -650px, 640px, showTranslateTextDiv1, 0.1s);
            //pourcentage biseau ; margin-left & width ; Name-keyframe ; delay
        }
        &:nth-of-type(2) {
            color: #eee;
            background-color: rgba($color: #000, $alpha: 0.6);
            @include animH1(85.9%, -570px, 555px, showTranslateTextDiv2, 0.3s);
            //pourcentage biseau ; margin-left ; width ; Name-keyframe ; delay
        }
        &:nth-of-type(3) {
            @include animH1(84%, -490px, 470px, showTranslateTextDiv3, 0.5s);
            //pourcentage biseau ; margin-left ; width ; Name-keyframe ; delay
        }
    }
}