.animated-title {
    color: $titleTEXT;
    @include fontFamily;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 90vmin;
    >div {
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        div {
            font-size: 12vmin;
            padding: 0;
            position: absolute;
            span {
                display: block;
            }
        }
    }
    &__text--top {
        // border-bottom: 1vmin solid $titleLINE;
        top: 0;
        div {
            animation: showTopText 1.5s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            bottom: 0;
            transform: translate(0, 100%);
        }
        span:first-child {
            @include titleFirstChild;
            transform: color 0.5s;
            &:hover {
                color: $FirstTextHover;
            }
        }
        span:last-child {
            color: $titleSecondText;
        }
    }
    &__text--bottom {
        bottom: 0;
        div {
            animation: showBottomText 0.5s;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
            top: 0;
            transform: translate(0, -100%);
        }
    }
}


/* SLOGAN */

.slogan {
    @include fontFamily;
    position: absolute;
    left: 65%;
    bottom: 3%;
    font-size: 5vmin;
}