.sidebarMenu {
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 345px;
    transform: translateX(250px);
    transition: all .5s ease-in-out;
    background: $sidebarMenuBGD;
    @media screen and(min-width: 768px) {
        margin-top: 355px;
    }
    @media screen and (orientation: landscape) and (min-width: 740px) and (max-width: 1023px) {
        margin-top: 360px;
    }
    &__Inner {
        margin: 0;
        padding: 0;
        li {
            @include fontFamily(1rem);
            list-style: none;
            background-color: $sidebarMenuBGD;
            text-transform: uppercase;
            padding: 20px;
            cursor: pointer;
            transform: translateX(0);
            transition: transform .5s ease-in-out;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $sidebarMenuLINE;
                width: 350px;
                height: 1px;
                z-index: 5;
            }
            &:hover {
                transform: translateX(-15px);
            }
            a {
                color: $sidebarMenuTEXT;
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

input[type="checkbox"]:checked~.sidebarMenu {
    transform: translateX(0);
}