@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes showTranslateTextDiv1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(630px);
    }
}

@keyframes showTranslateTextDiv2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(550px);
    }
}

@keyframes showTranslateTextDiv3 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(470px);
    }
}