@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes showTranslateTextDiv1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(650px);
    }
}

@keyframes showTranslateTextDiv2 {
    0% {
        transform: translateX(0) translateY(0);
    }
    // 50% {
    //     transform: translateX(275px) translateY(0)
    // }
    // 60% {
    //     transform: translateX(330px) translateY(0)
    // }
    // 70% {
    //     transform: translateX(385px) translateY(0)
    // }
    // 80% {
    //     transform: translateX(440px) translateY(0)
    // }
    // 90% {
    //     transform: translateX(495px) translateY(0)
    // }
    // 95% {
    //     transform: translateX(522px) translateY(0)
    // }
    100% {
        transform: translateX(570px) translateY(10px);
    }
}

@keyframes showTranslateTextDiv3 {
    0% {
        transform: translateX(0) translateY(0);
    }
    // 50% {
    //     transform: translateX(235px) translateY(0)
    // }
    // 60% {
    //     transform: translateX(282px) translateY(0)
    // }
    // 70% {
    //     transform: translateX(329px) translateY(0)
    // }
    // 80% {
    //     transform: translateX(376px) translateY(0)
    // }
    // 90% {
    //     transform: translateX(423px) translateY(0)
    // }
    100% {
        transform: translateX(490px) translateY(20px);
    }
}