@mixin fontFamily($size) {
    font-family: 'Karla';
    font-size: $size;
}

@mixin centerFlex {
    display: flex;
    justify-content: center;
}

@mixin animH1($pourcentage, $margin, $width, $keyframe, $delay) {
    clip-path: polygon(0 0, 100% 0%, $pourcentage 100%, 0% 100%);
    margin-left: $margin;
    width: $width;
    animation: 1.3s $keyframe $delay ease-out forwards;
}