/* Color Menu sidebar Toggle */

$sidebarIconToggle: #000;
$sidebarMenuBGD: #636262;
$sidebarMenuTEXT: #fff;
$sidebarMenuLINE: #8f8f8f;

/* Homepage Title */

$titleTEXT: #222;
$titleLINE: #000;
$titleFirstText: #a5a2a2;
$titleSecondText: #767676;

/* Homepage Title:Hover */

$FirstTextHover: blue;