$primaryColor: #b00b01;

/* Color Menu sidebar Toggle */

$sidebarIconToggle: #000;
$sidebarMenuBGD: #636262;
$sidebarMenuTEXT: #fff;
$sidebarMenuLINE: #8f8f8f;

/* Homepage Title */

$bgd1-3: #eee;
$bgd2: #000;
$text2: #eee;